@model itmm.Models.itmmLaboratory

@{
    ViewBag.Title = "EditLaboratory";
    Layout = "~/Views/Shared/itmm/_itmmLayout.cshtml";

    var LabRoom = (ViewBag.Room as IQueryable<itmm.Models.Laboratory_Room>);
    var AvlRoom = ViewBag.AvailRoom;
}

<h2>Edit Laboratory</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

            @Html.EditorFor(model => model.labid)
           

        <div class="editor-label">
            @Html.LabelFor(model => model.labname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.labname)
            @Html.ValidationMessageFor(model => model.labname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.labdesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.labdesc)
            @Html.ValidationMessageFor(model => model.labdesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.labcontact)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.labcontact)
            @Html.ValidationMessageFor(model => model.labcontact)
        </div>

        <div>
            <br />
            Availabe Room:<br />
            @foreach (var _LabRoom in LabRoom)
            {
                <input type="checkbox" checked="checked" name="room" value="@_LabRoom.RoomId"/>@_LabRoom.Room.RoomName<br /> 
            }
            @foreach (var _AvlRoom in AvlRoom)
            {
                <input type="checkbox"  name="room" value="@_AvlRoom.RoomId"/>@_AvlRoom.RoomName<br />
            }
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>

}


<div>
    @Html.ActionLink("Back to List", "Laboratory")
</div>
