@model itmm.Models.itmmAdminStaff

@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/itmm/_itmmLayout.cshtml";
    var StaffList = (ViewBag.StaffList as IQueryable<itmm.Models.Laboratory_Staff>);
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="content_wrapper">
@using (Html.BeginForm()) {
    <div>@Html.ValidationSummary(true)</div>
<div id="zero_div">
<div id="first_div">
        <div class="editor-label">
            @Html.LabelFor(model => model.fname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fname)
            @Html.ValidationMessageFor(model => model.fname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lname)
            @Html.ValidationMessageFor(model => model.lname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cnum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cnum)
            @Html.ValidationMessageFor(model => model.cnum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.course)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.course)
            @Html.ValidationMessageFor(model => model.course)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eadd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eadd)
            @Html.ValidationMessageFor(model => model.eadd)
        </div>
        <div>
        Position<br /><select name="type">
            <option value="staff">Staff</option>
            <option value="ojt">OJT</option>
            <option value="faculty">Faculty</option>
        </select>
        </div>
</div><!--first_div-->
<div id="second_div">
        <div class="editor-label">
            @Html.LabelFor(model => model.uname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.uname)
            @Html.ValidationMessageFor(model => model.uname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.c_password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.c_password)
            @Html.ValidationMessageFor(model => model.c_password)
        </div>

        <p>
            <input type="submit" value="Create" />
       </p>

</div><!--second_div-->
</div>
   
}
 </div><!--content_wrapper-->
@if (StaffList.Count() != 0)
{
<div id="dataTable">
<table id="dtable" cellspacing="0">
    <thead>
        <tr>
            <th>Id Number</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Course&Year</th>
            <th>Position</th>
            <th>Email Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var staffList in StaffList)
    { 
        <tr>
            <td>@staffList.IdNumber</td>
            <td>@staffList.FirstName</td>
            <td>@staffList.LastName</td>
            <td>@staffList.CourseAndYear</td>
            <td>@staffList.Type</td>
            <td>@staffList.EmailAddress</td>
            <td>
            @Html.ActionLink("[Edit]", "EditStaff", "Head", new { UserName = staffList.UserName }, null)
            @Html.ActionLink("[Delete]", "DeleteStaff", "Head", new { UserName = staffList.UserName }, null)
            </td>
        </tr>
    }
    </tbody>
</table>
</div><!-- dataTables -->
}

@section SideNav{
<ul>
    <li>@Html.ActionLink("Home", "Index", "Head")</li>
    <li>@Html.ActionLink("Staff", "Staff", "Head", null, new { id = "light" })</li>
     <li>@Html.ActionLink("Material", "Material", "Head")</li>
    <li>@Html.ActionLink("Equipment", "Equipment", "Head")</li>
    <li>@Html.ActionLink("Notification", "Notification", "Head")</li>
     <li>@Html.ActionLink("Reports", "HeadReports", "Head")</li>
</ul>
}
