@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/itmm/_itmmLayout.cshtml";
    var Room = (ViewBag.Room as IQueryable<itmm.Models.Room>);
    var LabRoom = (ViewBag.LabRoom as IQueryable<itmm.Models.Laboratory_Room>);
    var LabList = (ViewBag.LabList as IQueryable<itmm.Models.Laboratory>);
}


@ViewBag.MyMessage
<div id="accord">
    <span id="span_link" style="visibility: hidden"><a id="modal_diag" href="#">Create Laboratory</a></span><br />
    <div id="modal" title="Fill the form" style="visibility: hidden; height: 0px;">
        <form method="post" action="test.html">
        <div>
            Laboratory Name:<br />
            <input type="text" name="LabName" style="width:260px;height:23px;" />
        </div>
        <div>
            Laboratory Description:<br />
            <textarea name="LabDesc" style="width: 528px; height: 204px;" /></textarea>
        </div>
        <div>
            Availabe Room:<br />
            @foreach (var room in Room)
            {
                foreach (var labroom in LabRoom)
                {
                    if (room.RoomId != labroom.RoomId)
                    {
                         <input type="checkbox" name="room" value="@room.RoomId"/>@room.RoomName<br /> 
                    }
                }

            }
        </div>
        <input type="submit" value="Create" style="width: 150px; height: 35px" />
        </form>
    </div><!-- end dialog -->
    <div id="room_div"style="visibility: hidden">
        <table cellspacing="0">
        <thead><tr><th>Laboratory</th><th>Room</th></tr></thead>
        <tbody>
        @foreach (var lablist in LabList)
        {
            string RoomInLab = "none";
            int cnt = 0;       
        <tr><td>@lablist.LaboratoryName</td>
            @foreach (var labroom in LabRoom)
            {

                if (lablist.LaboratoryId == labroom.LaboratoryId)
                {
                    if (cnt == 0)
                    {
                        RoomInLab = labroom.Room.RoomName;
                        cnt++;
                    }
                    else
                    {
                        RoomInLab = RoomInLab + "," + labroom.Room.RoomName;
                    }
                }
            }<td>@RoomInLab</td></tr>
        }
        </tbody>
        </table>
    </div>
</div><!-- end accord -->
@section SideNav{
<ul>
    <li><a href="javascript:ItmmLoad('@Url.Action("Index", "Admin")')">Laboratory</a></li>
</ul>
}