@using itmm.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/itmm/_itmmLayout.cshtml";
    var Room = (ViewBag.Room as IQueryable<itmm.Models.Room>);
    var LabRoom = (ViewBag.LabRoom as IQueryable<itmm.Models.Laboratory_Room>);
    var LabList = (ViewBag.LabList as IQueryable<itmm.Models.Laboratory>);
    var InactiveLabList = (ViewBag.InactiveLabList as IQueryable<itmm.Models.Laboratory>);
}



@ViewBag.MyMessage
<div id="accord">
    <span id="span_link" style="visibility: hidden;"> <a id="modal_diag" href="#" class="but ui-state-default ui-corner-all ui-button-text-only" style="color:black;padding: 1px 1px 1px 1px;"> &nbsp; Create Laboratory &nbsp; </a></span><br /><br />
    <div id="modal" title="Create Laboratory" style="visibility: hidden; height: 0px;">
        <form id="labform" method="post" action="/Admin/Index">
        <div>
            Laboratory Name:<br />
            <input type="text" name="LabName" class="required" maxlength=13 style="width:260px;height:23px;" />
        </div> <br />
        <div>
            Laboratory Description:<br />
            <textarea name="LabDesc" class="required" style="width: 528px; height: 204px;" /></textarea>
        </div> <br />
        <div>
            Contact Number:<br />
            <input type="text" name="LabNum" class="required" maxlength=13 style="width:260px;height:23px;" />
        </div> <br />
        <div>
            Availabe Room:<br />
            @foreach (var room in Room)
            {
                int flag = 0;
                    foreach (var labroom in LabRoom)
                    {
                        if (room.RoomId == labroom.RoomId)
                        {
                            flag = 1;
                        }
                    }
                if (flag == 0)
                {
                <input type="checkbox" name="room" value="@room.RoomId"/>@room.RoomName<br />  
                }             
            }
        </div><br />
        <button id="button" class=" ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="height: 30px;"> &nbsp;&nbsp;&nbsp; + Create &nbsp;&nbsp;&nbsp;</button>

        </form>
    </div><!-- end dialog -->

    <div id="room_div"style="visibility: hidden">
        <table cellspacing="0" id="dtable">
        <thead><tr><th>Laboratory</th><th>Lab Head</th><th>Room</th><th>Contact</th><th></th></tr></thead>
        <tbody>
        @foreach (var lablist in LabList)
        {
            string RoomInLab = "none";
            int cnt = 0;       
        <tr><td>@lablist.LaboratoryName</td>
            @foreach (var labroom in LabRoom)
            {
                if (lablist.LaboratoryId == labroom.LaboratoryId)
                {
                    if (cnt == 0)
                    {
                        RoomInLab = labroom.Room.RoomName;
                        cnt++;
                    }
                    else
                    {
                        RoomInLab = RoomInLab + "," + labroom.Room.RoomName;
                    }
                }
            }
            <td>@{pintorEntities p = new pintorEntities();
                  var z = p.Laboratory_Head.FirstOrDefault(x => x.UserName == lablist.UserName);
                  string head;
                  if (z != null)
                  {
                      head = z.FirstName + " " + z.LastName;
                  }
                  else
                  {
                      head = "none";
                  }
                  
                  }
                  @head
            </td>
            <td>@RoomInLab</td>
             <td>@lablist.LaboratoryContact</td>
             
            <td><a href="javascript:TableTools('@Url.Action("EditLab", "Admin", new { LabId = lablist.LaboratoryId})')" class="but ui-state-default ui-corner-all ui-button-text-only" style="color:black;padding: 1px 1px 1px 1px;"> &nbsp; Edit &nbsp; </a>
            &nbsp<a  href="javascript:TableConfirm('@Url.Action("DeleteLab", "Admin", new { LabId = lablist.LaboratoryId})')" class="but ui-state-default ui-corner-all ui-button-text-only" style="color:black;padding: 1px 1px 1px 1px;"> &nbsp; Delete &nbsp; </a>&nbsp</td></tr>
            
        }
        </tbody>
        </table>


  
            @*@if(InactiveLabList.Count() != 0)
            {
            <div id="dataTable">
            <table id="dtables" cellspacing="0">
                <thead>
                    <tr>
                        <th>Laboratory</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var obj in InactiveLabList)
                { 
                    <tr>
                        <td>@obj.LaboratoryName</td>
                        <td>
                        @Html.ActionLink("[Restore]", "RestoreLab", "Admin", new { LabId = obj.LaboratoryId }, null)
            
                        </td>
                    </tr>
                }
                </tbody>
            </table>
             </div>
            }*@
       

    </div>



    <div id="tableTool"></div>
</div><!-- end accord -->
   
@section SideNav{
<ul>
    <li><a href="javascript:ItmmLoad('@Url.Action("Room", "Admin")')">Room</a></li>
    <li><a href="javascript:ItmmLoad('@Url.Action("Index", "Admin")')">Laboratory</a></li>
    <li><a href="javascript:ItmmLoad('@Url.Action("Head", "Admin")')">Head Accounts</a></li>
</ul>
}

