<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="../../../Content/itmm.css" rel="stylesheet" type="text/css" />
    <link href="../../../Content/themes/smoothness/smoothness/jquery-ui-1.8.16.custom.css" rel="Stylesheet" type="text/css"/>
    <script src="../../../Scripts/itmm_js/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="../../../Scripts/itmm_js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
    <style type="text/css">
        #accordion, #modal{
            font: 15px "Trebuchet MS" , sans-serif;
        }
        .ui-dialog-title{
            font: 15px "Trebuchet MS" , sans-serif;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="nav">
            <h1>itmm</h1> 
            
                @if (IsSectionDefined("SideNav"))
                {
                    @RenderSection("SideNav");
                }

            
        </div>
        <!--end nav-->
        <div id="content">
            <div id="usrnav">
            @if ((User.Identity.Name).IsEmpty())
            { 
                <span>@Html.ActionLink("Login","LogOn","Account")</span>
            
            }
            else
            {
                <span>Welcome @User.Identity.Name,@Html.ActionLink("Logout","LogOff","Account")</span>
            }
            </div>
            <div id="accholder">
             
                   @RenderBody()
            </div>
            <!--end accholder-->
        </div>
        <!--end content-->
    </div>
    <!--end wrapper-->
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("ul > li > a").click(function () {

            $("ul > li > a").removeClass("light").css("color", "");
            $(this).addClass("light").css("color", "#F7BE81");

            $(this).fadeIn("slow");     
            
            $("#accholder").empty().html('<img id="loading" src="../Content/images/loading3.gif" />');
        }); /*.click*/

    });   /*.ready*/

    function ItmmLoad(a) {
        var info = a + ' ' + "#accord";
        $("#accholder").load(info ,function () {
            $("#accordion").ready(function () {
                //ACCORDION
                $("#accordion").accordion({ animated: 'bounceslide' });
                $("#span_link,#room_div").css("visibility", "visible");
                //MODAL
                $("#modal_diag").click(function () {
                    $("#modal").css("visibility", "visible");                    
                    $("#modal").dialog({
                        modal: true, position: [300, 200],
                        show: 'slide', hide: 'slide',
                        width: 750,
                        resizable:false
                    }); //.dailog                  
                })//.click
            });//ready
        }); //.load
    }      
</script>
</html>
